NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CONTACT_EMAIL=
NEXT_PUBLIC_LEGAL_NAME=
NEXT_PUBLIC_LEGAL_TAX_ID=
NEXT_PUBLIC_LEGAL_ADDRESS=
NEXT_PUBLIC_LEGAL_EMAIL=
NEXT_PUBLIC_LEGAL_PHONE=+34643663194
NEXT_PUBLIC_LEGAL_REGISTRY=
SUPERADMIN_EMAILS=
SUPERADMIN_USER_IDS=
SUPERADMIN_RESTAURANT_CAPACITY=25
SUPERADMIN_STORAGE_CAPACITY_GB=1
CRON_SECRET=
DEEPL_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_PLAN_PRICE_ID=
